*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
                        /* Hero Section */
.hero-section{
    background-image: url('hero-img-1.jpg');
    background-size: cover;
    color: white;
    font-size: 1.3rem;
    overflow: hidden;
    padding-bottom: 12%;
}
.navBar{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white
}
.logo{
    height: 45px;
    width: 45px;
    background-color: brown;
    border-radius: 2px;
}
.logo-img p{
    margin-left: 10px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.nav-menu{
    width: 60%;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.list-item{
    list-style: none;
    transition: all 0.2s ease-in-out;
}
.list-item:hover {
    transform: scale(1.2);
}
.nav-link:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-position: below;
}
.contact-btn{
    font-size: 1.3rem;
    padding: 0.8% 2%;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 3px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.contact-btn:hover{
    color: black;
    background-color: white;
}
.hero-paras{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 8%;
    font-weight: 300;
}
.para1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}
.para{
    margin-top: 2%;
}
                                                    /* Guide & Steps Section */
.steps-section{
    background-color: black;
    padding: 0 2.5%;
}
.progress{
    background: url('/Rectangle-img.png') center center no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 2%;
    padding: 6% 0 10% 10%;
}
.step-btn{
    background-color: black;
    border-radius: 1.5rem;
    border: solid #fff 0.1rem;
    color: #fff;
    padding: 8px 26px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.guide{
    padding-top: 60px;
}
.step-btn:hover{
    background-color: white;
    color: black;
}
.step-para{
    font-size: 4em;
    font-weight: 800;
    color: #fff;
}
                        /* Step numbers for guide */
.steps{
    overflow: hidden;
}
.steps-div{
    max-width: 400px;
    font-size: 1.2rem;
    display: flex;
    margin-top: 3%;
}
.link-dash-line{
    height: 150%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0;
}
.dash-line{
    height: 150%;
    border-left: 2px dashed white;
    margin-left: 50%;
}
.step-div-1{
    margin-top: 0;
}
.steps-guide p{
    color: #d2d2d2;
}
.steps-guide{
    margin-left: 6%;
}
.steps-disc{
    margin-top: 1.5%;
}
.chat-btn{
    font-size: 1.2rem;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 25px;
    margin-top: 3%;
    transition: all 0.1s ease-in;
    cursor: pointer;
}
.chat-btn:hover{
    color: black;
    background-color: #fff;
}
.gap-lap{
    height: 10vh;
}
                        /* form section */
.form-section{
    position: relative;
    width: 100%;
    height: 100%;
}
.form-container{
    max-width: 40%;
}
.bg-img{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.bg-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.overlay{
    padding: 60px 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}   
.form-guide{
    text-align: center;
    font-size: 1.1rem;
}
.bulit-line{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.horizon-line{
    width: 79%;
    display: flex;
    justify-content: space-between;
    padding: 0 12.8%;
}
.h-line{
    width: 31.4%;
    border-top: 1px solid #fff;
}
.h-line2{
    width: 32.2%;
}
.ellipses{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.ellipse{
    height: 10px;
    width: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.ellipse-1{
    background-color: brown;
}
.question{
    margin-top: 10%;
}
.question p{
    margin-bottom: 2%;
}
.dropdown-g-l p{
    margin-top: 10%;
    margin-bottom: 1%;
}
.g-list{
    padding: 3% 2%;
    width: 100%;
    background: none;
    color: #fff;
    border-radius: 5px;
}
.fill-textbox{
    margin-top: 10%;
}
.textbox{
    background: none;
    width: 100%;
    margin-top: 3%;
    border-radius: 4px;
    color: #fff;
    resize: vertical;
}
.next-btn{
    text-align: center;
}
.submit-btn{
    padding: 3% 20%;
    margin-top: 4%;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}
.submit-btn:hover{
    background-color: white;
    color: black;
}
                            /* Footer section */
.f-bg-img{
    background-image: url('building-1.jpg');
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    z-index: -1;
    /* height: 100%; */
}
.footer-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.f-logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}
.f-logo p{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}
.f-details{
    display: flex;
    gap: 10px;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 3%;
}
.f-div{
    max-width: 40%;
    /* margin: 0 auto; */
    color: #fff;
    line-height: 25px;
}
.f-div h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 25px;
}
.f-div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.f-menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 6%;
}
.f-menu a{
    text-decoration: none;
    color: #fff;
}
.f-line{
    width: 80%;
    border-top: 2px solid #ffffff59;
    margin-top: 2%;
    margin-bottom: 2%;
}
.copywrite{
    width: 80%;
    margin-top: 2%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1024px){
    .logo{
        height: 40px;
        width: 40px;
    }
    .logo-img p{
        font-size: 1.8rem;
    }
    .nav-menu{
        display: none;
    }
    .contact-btn{
        font-size: 1.2rem;
        height: 45px;
        padding: 0 1%;
    }
    .f-details{
        max-width: 90%;
    }
    .f-menu{
        width: 70%;
        margin-top: 8%;
    }
}
@media (max-width: 991px){
    .para1{
        font-size: 2.3rem;
    }
    .para{
        font-size: 1rem;
    }
    .step-btn{
        border-radius: 1.5rem;
        padding: 7px 22px;
        font-size: 1.1rem;
    }
    .step-para{
        font-size: 3em;
        font-weight: 800;
        color: #fff;
    }
    .guide{
        text-align: center;
    }
    .steps-disc{
        font-size: 0.9rem;
    }
    .form-container{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo{
        height: 30px;
        width: 30px;
    }
    .f-logo a{
        font-size: 1.4rem;
    }
    .f-details{
        flex-direction: column;
        margin-top: 1%;
    }
    .f-div h3{
        font-size: 1.3rem;
        margin-bottom: 3px;
    }
    .f-div ul{
        font-size: 0.7rem;
        height: 50%;
        margin-bottom: 0;
        line-height: 18px;
    }
    .f-menu{
        width: 90%;
        margin-top: 3%;
        font-size: 0.8rem;
    }
    .f-line{
        display: none;
    }
    .copywrite{
        font-size: 0.8rem;
    }
}
@media (max-width: 425px){
    .link-dash-line{
        height: 130%;
    }
    .dash-line{
        height: 130%;
    }
    .f-div{
        max-width: 100%;
    }
    .f-menu{
        flex-direction: column;
        align-items: center;
    }
    .copywrite{
        flex-direction: column;
    }
}